*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
background-color: rgb(255, 255, 255);
}

.logo{
    background-color: white;
}


.navbar{
display:flex;
align-items:center;
justify-content:space-between;
padding:15px 40px;
background:white;
}

.search input{
width:500px;
height: 30px;
padding:10px;
border-radius:18px;
border:1px solid rgb(42, 42, 42);
background-color: white;
}

.nav a{
margin-left:20px;
text-decoration: none;
color: rgba(36, 93, 225, 0.727);
background-color: white;
}




.categories{
display:flex;
justify-content:center;
gap:30px;
padding:30px;
}

.card{
text-align:center;
text-decoration: none;
color: black;
}

.card img{
width:120px;
height: 120px;
border-radius:10px;
}

.card p{
margin-top:3px;
text-decoration: none;
color: black;
}

.card a{
    text-decoration: none;
    color: black;
    padding: 1px;
}







